<header class="header-desktop clearfix">
    <section class="logo">
        <a itemprop="url" href="index.html">
            <img itemprop="logo" src="assets/images/logos/logo_elios_best_of_sicily_desktop.png" alt="Elios best of Sicily Logo">
        </a>
    </section>
    <nav class="primary-nav">
        <a href="our-story.html">OUR STORY</a>
        <a href="products.html">PRODUCTS</a>
        <a href="the-farm.html">THE FARM</a>
        <a href="contacts.html">CONTACTS</a>
    </nav>
    <nav class="shopping-nav">
        <a href="#"><i class="fa fa-shopping-cart"></i> CART</a>
    </nav>
    <section class="primary-social">
        <a href="tel:+393334095994"><b>t :</b>+39 333 4095 994</a>
        <a href="https://www.facebook.com/Elios-best-of-Sicily-411924605607958/"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-instagram"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
    </section>
</header>
<header class="header-mobile clearfix">
    <nav class="paradeiser">
        <section class="paredeiser-logo">
            <a href="index.html">
                <img id="paradeiser-logo-img" src="assets/images/logos/logo_elios_best_of_sicily_mobile.png" alt="Elios best of Sicily logo icon">
            </a>
        </section>
        <a href="our-story.html">
            <div class="paradeiser_icon_canvas">
                <img alt="Elios best of Sicily home icon" src="assets/images/icons/svg/home.svg">
            </div>
            <span>Our Story</span>
        </a>
        <a href="products.html">
            <div class="paradeiser_icon_canvas">
                <img alt="Elios best of Sicily products icon" src="assets/images/icons/svg/leaf.svg">
            </div>
            <span>Products</span>
        </a>
        <!-- <a href="#">
                    <div class="paradeiser_icon_canvas">
                        <img src="assets/images/svg/rural32.svg">
                    </div>
                    <span>The Farm</span>
                </a>-->
        <a href="#">
            <div class="paradeiser_icon_canvas">
                <img alt="Elios best of Sicily cart icon" src="assets/images/icons/svg/cart.svg">
            </div>
            <span>Cart</span>
        </a>

        <!-- paste in as many links as you want -->

        <!-- and include the dropdown aswell -->
        <div class="paradeiser_dropdown">
            <a href="#paradeiser-more" id="paradeiser-dropdown">
                <div class="paradeiser_icon_canvas">
                    <img alt="Elios best of Sicily menu icon" src="assets/images/icons/svg/menu_overflow.svg">
                </div>
                <span>More</span>
            </a>
            <ul class="paradeiser_children" id="paradeiser-more">
                <li><a href="the-farm.html">The Farm</a></li>
                <li><a href="contacts.html">Contacts</a></li>
                <li><a href="https://www.facebook.com/Elios-best-of-Sicily-411924605607958/">Facebook</a></li>
                <li id="greybox">
                    <a href="#!"></a>
                </li>
            </ul>
        </div>
    </nav>
</header>