<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Elios-Best of Sicily - Home</title>
    <meta name="description" content="This is an example of a meta description. This will often show up in search results.">


    <!--STYLESHEETS USEREF GULP-->
    <!--build:css assets/stylesheets/main.min.css -->
    <link rel="stylesheet" href="assets/stylesheets/reset.css">
    <link rel="stylesheet" href="assets/plugin/paradeiser/paradeiser.css">
    <link rel="stylesheet" href="assets/stylesheets/main.css">
    <link rel="stylesheet" href="assets/stylesheets/modules.css">
    <!-- endbuild -->

   
    
     <!--FONTS-->
    <link href='https://fonts.googleapis.com/css?family=Raleway:300,500,600,700|Dancing+Script:400|Pacifico|Muli:400' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
     

</head>
    <header>
    <nav>
        <a href="{{site.baseurl}}/index.html"> index </a>
        <a href="{{site.baseurl}}/news.html"> news </a>
        </nav>
    </header>
    
    
{{content}}
    
    
    
</html>
